.timestamp {
    display: flex;
    background-color: lightgreen;
    width: fit-content;
    padding: 5px;
    font-size: 7pt;
    border-radius: 5px;
    margin: 5px;
    margin-left: auto;
}

.message {
    border-radius: 5px;
    display: flex;
    box-shadow: 10px 10px 5px -2px rgb(34 60 80 / 20%);
    margin: 10px;
    padding: 10px;
}

.incoming {
    background: deepskyblue;
}

.outcoming {
    background: lightgreen;
}

.message-input-box {
    position: fixed;
    bottom: 0;
    padding: 10px;
    gap: 10px;
    display: flex;
    left: 50%;
}

.message-input-box input {
    border-radius: 5px;
}

.messages-box {
    padding-top: 5vh;
}

.page-container {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.header {
    position: fixed;
    height: 5vh;
    background-color: white;
    display: flex;
    width: 100%;
    align-items: center;
    border-bottom: black 1px solid;
    padding-left: 10px;
    padding-right: 10px;
}