@using EthachatShared.Encryption
@using Ethachat.Client.Services.HubServices.HubServices.Implementations.MessageService
@using Ethachat.Client.Services.KeyStorageService.Implementations
@inject IMessageService MessageService
@inject IJSRuntime jSRuntime 
@inherits Ethachat.Client.UI.CommonComponents.BaseComponents.BaseEventListeningComponent

@if (AesKey is not null)
{
    <div class="key-details">
        <span>AES-secured</span>
        <span>Key creation date: @AesKey.CreationDate.ToLocalTime().ToString("dd/MM HH:mm")</span>
    </div>
}

@code {
    [Parameter] public string PartnerUsername { get; set; } = string.Empty;
    private Key? AesKey { get; set; }
    private LocalStorageKeyStorage KeyStorageService { get; set; }

    protected override async Task OnInitializedAsync()
    {
        KeyStorageService = new LocalStorageKeyStorage(jSRuntime);
        await UpdateAesKey();
        await base.OnInitializedAsync();
    }

    private async Task UpdateAesKey()
    {
        AesKey = await KeyStorageService.GetLastAccepted(PartnerUsername, KeyType.Aes);
        if (AesKey is null)
            await MessageService.NegotiateOnAESAsync(PartnerUsername);
    }

    protected override void SubscribeToHubEvents()
    {
        HubServiceSubscriptionManager.AddCallback<string>(OnAesKeyReady, "OnPartnerAESKeyReady", ComponentId);
        HubServiceSubscriptionManager.AddCallback<bool>(OnAesUpdated, "AESUpdated", ComponentId);
    }

    private async Task OnAesKeyReady(string partnerName)
    {
        AesKey = await KeyStorageService.GetLastAccepted(partnerName, KeyType.Aes);

        StateHasChanged();
    }

    private async Task OnAesUpdated(bool keyRenewed)
    {
        AesKey = await KeyStorageService.GetLastAccepted(PartnerUsername, KeyType.Aes);
        
        StateHasChanged();
    }

}