@using EthachatShared.Models.ConnectedUsersManaging
@inherits Ethachat.Client.UI.CommonComponents.BaseComponents.BaseEventListeningComponent

<div class="avatar-indicator @(IsOnline ? "online" : "")">
    <img src=@AvatarLink alt="Profile Picture">
</div>

@code {
    [Parameter] public string PartnerUsername { get; set; } = string.Empty;
    [Parameter] public string AvatarLink { get; set; } = "https://shorturl.at/gxAE7";
    private bool IsOnline { get; set; }

    protected override void SubscribeToHubEvents()
    {
        base.SubscribeToHubEvents();
        HubServiceSubscriptionManager.AddCallback<UserConnectionsReport>(HandleOnlineUsers, "ReceiveOnlineUsers", ComponentId);
    }

    private void HandleOnlineUsers(UserConnectionsReport userConnectionsReport)
    {
        IsOnline = userConnectionsReport.UserConnections.Any(x => x.Username == PartnerUsername);
        StateHasChanged();
    }

}