<div class="callout @CalloutType.ToString().ToLower()">
    <div class="callout-header">
        <CustomIcon Type="CustomIconType.Solid" Name=@ResolveIconByType()/>
        <span>@CalloutTitle</span>
    </div>
    <div class="callout-body">
        <span>
            @CalloutBody
        </span>
    </div>
</div>

@code {
    [Parameter] public CalloutType CalloutType { get; set; } = CalloutType.Info;
    [Parameter] public string CalloutIconStyle { get; set; } = "fa-solid";
    [Parameter] public string CalloutTitle { get; set; } = string.Empty;
    [Parameter] public string CalloutBody { get; set; } = string.Empty;

    private string ResolveIconByType()
    {
        return CalloutType switch
        {
            CalloutType.Info => "info-circle",
            CalloutType.Idea => "lightbulb",
            CalloutType.Warning => "exclamation-triangle",
            CalloutType.Danger => "exclamation-circle",
            CalloutType.Error => "bug",
            CalloutType.Success => "check-circle",
            CalloutType.Neutral => "minus-circle",
            CalloutType.Positive => "smile",
            CalloutType.Clock => "clock",
            _ => throw new ArgumentException("Unsupported callout type")
        };
    }
}