@using Ethachat.Client.UI.Shared.ReuseableComponents.EditableList.Models
@using Ethachat.Client.UI.Chat.UI.Childs.ChatHeader.Indicators;

<div class="editable-list-item-content" style="@Style" @onclick="HandleClick">
    <div class="avatar-indicator">
        @if (ItemModel.AvatarOnlineIndicator is not null)
        {
            <AvatarOnlineIndicator
                PartnerUsername=@ItemModel.ItemName
                AvatarLink=@ItemModel.AvatarOnlineIndicator.AvatarLink/>
        }
    </div>
    <div class="item-details">
        <span class="item-name">@ItemModel.ItemName</span>
    </div>
</div>

@code {
    [Parameter] public string IconClass { get; set; } = string.Empty;

    [Parameter] public ItemModel ItemModel { get; set; } = new();

    [Parameter] public Action<string>? OnItemClickedAction { get; set; }

    [Parameter] public string Style { get; set; } = string.Empty;

    private void HandleClick()
    {
        if (OnItemClickedAction is not null)
        {
            if (string.IsNullOrWhiteSpace(ItemModel.ItemName))
                Console.WriteLine($"Invalid {typeof(ItemModel)} parameter passed in:" +
                                  $"{nameof(ItemModel.ItemName)} was a empty string or null.");

            OnItemClickedAction.Invoke(ItemModel.ItemName);
        }
        else
            Console.WriteLine("On click event handler action parameter is not passed in.");
    }
}