.editable-list-container {
    padding: 1rem;
    color: var(--app-font-color);
}

.editable-list-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.editable-list-item-container {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}

.editable-list-item {
    display: flex;
    align-items: center;
    padding: 1rem;
    background-color: rgba(83 89 89 / 9%);
    border-radius: var(--app-border-radius);
    transition: background-color 0.3s ease;
    gap: 1rem;
}

.editable-list-item:hover {
    background-color: rgba(0, 140, 0, 0.1);
}