.editable-list-item-content {
    display: flex;
    align-items: center;
    gap: 1rem;
    cursor: pointer;
}

.avatar-indicator {
    flex-shrink: 0;
}

.item-details {
    display: flex;
    flex-direction: column;
}

.item-name {
    color: var(--app-font-color);
    font-size: 1rem;
}

.item-status {
    color: #7c7c7c;
    font-size: 0.875rem;
}
