.header {
    display: flex;
    align-items: center;
    padding: 10px;
    background-color: var(--app-background-mat-color);
    height: var(--sidebar-header-height);
    border-bottom-left-radius: var(--app-border-radius);
    border-bottom-right-radius: var(--app-border-radius);
}

.name {
    margin: 0;
    font-size: 16px;
    font-weight: bold;
}

.status {
    margin: 0;
    font-size: 14px;
    color: #555;
}

.key-info {
    display: flex;
    align-items: center;
    margin-left: auto;
}

.key-info button .svg-inline--fa {
    fill: #ff0000;
}