.callout {
    display: flex;
    flex-direction: column;
    padding: var(--app-padding);
    border-bottom-style: hidden;
    margin-bottom: 1rem;
    border-radius: var(--app-border-radius);
}

.info {
    border-left: var(--app-ribbon-width) solid var(--app-blue);
}

.info svg {
    color: var(--app-blue);
}

.idea {
    border-left: var(--app-ribbon-width) solid var(--app-blue);
}

.idea svg {
    color: var(--app-blue);
}

.danger {
    border-left: var(--app-ribbon-width) solid var(--app-red);
}

.danger svg {
    color: var(--app-red);
}

.warning {
    border-left: var(--app-ribbon-width) solid #ffe11b;
}

.warning svg {
    color: #ffe11b;
}

.error {
    border-left: var(--app-ribbon-width) solid #233525;
}

.error svg {
    color: #233525;
}

.callout-header {
    font-size: 1.5rem;
}