@using Limp.Client.Cryptography.KeyStorage;
@using LimpShared.Encryption;
<div class="header">
    <div class="profile-picture">
        <img src=@AvatarLink alt="Profile Picture">
    </div>
    <div class="contact-info">
        <h2 class="name">@Name</h2>
        <p class="status">@(IsOnline ? "Active now" : "Seen recently")</p>
    </div>
    <div class="key-info">
        <button title="Renew AES Key" style="border: none;">
            <i class="bi bi-key-fill key-icon"></i>
        </button>
        <div class="key-details">
            <p class="key-label">AES-secured</p>
            <p class="key-value">Key transmition date: @AESKey.CreationDate.ToLocalTime().ToString("dd/MM HH:mm")</p>
        </div>
    </div>
</div>

@code {
    private string AvatarLink { get; set; } = "https://shorturl.at/gxAE7";

    [Parameter]
    public string Name { get; set; } = "Unnamed";
    [Parameter]
    public bool IsOnline { get; set; } = false;

    private Key AESKey => InMemoryKeyStorage.AESKeyStorage.FirstOrDefault(x => x.Key == Name).Value;
}
