@inject NavigationManager _navigationManager
@page "/settings"

<div class="p-2">
    <Card 
        Color="CardColor.Primary" 
        Class="mb-4" 
        Style="width:100%; cursor: pointer;" 
        @onclick=@(() => _navigationManager.NavigateTo("settings/notifications"))>
        <CardHeader>
            <Icon Name="IconName.BellFill"/>
            Web Push
        </CardHeader>
        <CardBody>
            <CardTitle>Manage your push notifications</CardTitle>
            <CardText>See active subscriptions, add new one, delete old ones and so on.</CardText>
        </CardBody>
    </Card>
</div>
