@inject NavigationManager NavigationManager
@using Ethachat.Client.UI.AuthenticationChecks
@page "/settings"

<AuthenticatedView>
    <AuthenticatedContent>
        <div class="p-2 card-container">
            <Card
                OnPress=@(() => NavigationManager.NavigateTo("settings/notifications"))
                Icon=@(new CustomIcon() { Name = "bell" })
                Title="Web Push"
                Text="Manage your web push notifications"/>
            <Card
                OnPress=@(() => NavigationManager.NavigateTo("settings/aes-exchange-settings"))
                Icon=@(new CustomIcon() { Name = "shield-halved" })
                Title="Trusted Contacts"
                Text="Manage your trusted contacts"/>
        </div>
    </AuthenticatedContent>
    <UnauthenticatedContent>
        <UnAuthorized/>
    </UnauthenticatedContent>
</AuthenticatedView>