@page "/"
@inject NavigationManager Navigation

<PageTitle>Index</PageTitle>

<h1>Welcome!</h1>
<h5>The Limp Messenger project was designed to be a easy to scale and deploy private messenger that store as less as possible information about it's users.</h5>
<h5>Your privacy is #1 goal.</h5>

@code {
}