@page "/"
@inject NavigationManager Navigation
<PageTitle>Index</PageTitle>

<h1>Welcome!</h1>
@*<h5>The 'Limp' secure messenger project aims to provide a secure and private communication platform for its users. The main feature of the messenger is that it does not store any user data or messages on its servers, ensuring that user information and conversations are protected from any third-party access. The messenger employs state-of-the-art encryption technologies to secure the transmission of messages and data, ensuring that only the intended recipients have access to the information. The user-friendly interface and easy setup process make this messenger a great option for individuals and organizations looking to protect their privacy and secure their communication.</h5>
*@
@code {
}