@page "/"
@using ClientServerCommon.Models.Message;
@using Limp.Client.Cryptography;
@using Limp.Client.Cryptography.CryptoHandlers.Handlers;
@using Limp.Client.Cryptography.KeyStorage;
@using LimpShared.Encryption;
@inject NavigationManager Navigation
@inject IJSRuntime _js;
@inject ICryptographyService _cryptographyService;
<PageTitle>Index</PageTitle>

<h1>Limp Messenger — an open source secure chat app.</h1>
<p>
    Keep your conversations private and secure with our chat app featuring Client-side encryption and open-source code for complete transparency.
</p>
<p>
    Trust in the security of your messages with our chat app's Client-side encryption and open-source code, available to all for ultimate peace of mind.
</p>
<p>
    Chat with confidence using our app's unbeatable combination of Client-side encryption and open-source code, ensuring the utmost privacy and trustworthiness for all.



</p>


@code {
}