.encryption-disclaimer {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 50%;
    margin-right: auto;
    margin-left: auto;
}

.encryption-message-header {
    background-color: black;
    font-size: 14pt;
    color: white;
    display: flex;
    justify-content: center;
    padding: 10px;
    width: 100%;
}

.encryption-message-body {
    padding: 10px;
    background-color: lightgrey;
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 10px;
}