<div class="encryption-disclaimer">
    <div class="encryption-message-header">
        <span>Please, wait while we working on security and privacy of this chat</span>
    </div>
    <div class="encryption-message-body">
        <span>We're now creating a new AES message encryption key.</span>
        <span>We're now sending your conversant an encrypted message containing the encryption key.</span>
    </div>
</div>

@code {

}
