<div class="encryption-disclaimer">
    <div class="encryption-message-header">
        <span>We are trying to negotiate with the interlocutor's side about the key AES for this chat.</span>
    </div>
    <div class="encryption-message-body">
        <span>
            @(IsThereAnAESKey ? 
            "AES Key for conversation was generated"
            :
            "Creating a new AES encryption key for your conversation."
            )
        </span>
    </div>
</div>

@code {
    [Parameter]
    public bool IsThereAnAESKey { get; set; } = false;
}
