@page "/contacts"
@using Limp.Client.UIComponents.ContactItem;

<div style="padding: 0.5rem 1rem;">
    @foreach (var contact in Contacts.OrderByDescending(x=>x.LastMessage))
    {
        <ContactBar 
            Username=@contact.Username 
            IsOnline=@contact.IsOnline/>
    }
</div>

@code {
    private List<Contact> Contacts =  new()
    {
        new Contact
        {
            Username = "Lesha",
            IsOnline = true,
            LastMessage = new DateTime(day: 25, month: 03, year: 2023, kind: DateTimeKind.Utc, hour: 15, minute: 23, second: 02)
        },
        new Contact
        {
            Username = "Pavel",
            IsOnline = false,
            LastMessage = new DateTime(day: 25, month: 03, year: 2022, kind: DateTimeKind.Utc, hour: 15, minute: 23, second: 02)
        }
    };

    public class Contact
    {
        public string Username { get; set; }
        public bool IsOnline { get; set; } = false;
        public DateTime LastMessage { get; set; } = DateTime.UtcNow;
    }
}