@page "/contacts"

<h3>MyContacts</h3>

<div>
    <ul>
        <li>
            <a href="https://localhost:7273/user/Grisha">
                Grisha
            </a>
        </li>
        <li>
            <a href="https://localhost:7273/user/Pavel">
                Pavel
            </a>
        </li>
    </ul>
</div>

@code {

}
