@page "/user/{companionConnectionId?}"
@using Limp.Shared.Models;
@using Microsoft.AspNetCore.SignalR.Client;
@inject NavigationManager Navigation

<h1>Your chat with @companionConnectionId</h1>

<div>
    <label>You:</label>
    <input @bind="messageInput"/>
    <button @onclick="Dispatch" disabled="@(!IsConnected)">Send</button>
</div>

@foreach (var message in messages)
{
    <div>
        <span>@GetMessageSenderAlias(message):</span><span>@message.Payload</span>
    </div>
}

@code {
    [Parameter]
    public string? companionConnectionId { get; set; }
    private HubConnection? hubConnection;
    private List<Message> messages { get; set; } = new();
    private string messageInput = string.Empty;


    protected override async Task OnInitializedAsync()
    {
        hubConnection = new HubConnectionBuilder()
        .WithUrl(Navigation.ToAbsoluteUri("/messageDispatcherHub"))
        .Build();

        hubConnection.On<Message>("ReceiveMessage", message =>
        {
            messages.Add(message);
            StateHasChanged();
        });

        await hubConnection.StartAsync();
    }

    public bool IsConnected =>
        hubConnection?.State == HubConnectionState.Connected;

    private async Task Dispatch()
    {
        Message messageToSend = new Message
        {
            Payload = messageInput,
            DateSent = DateTime.UtcNow,
            SenderUsername = "Anon",
            SenderConnectionId = hubConnection?.ConnectionId!,
            CompanionConnectionId = companionConnectionId!,
        };

        await hubConnection.SendAsync("Dispatch", messageToSend);

        messageInput = string.Empty;
    }

    private string GetMessageSenderAlias(Message message)
    {
        if (message.SenderConnectionId == hubConnection!.ConnectionId)
            return "You";
        return message.SenderUsername;
    }
}
