@page "/users"
@using ClientServerCommon.Models;
@using Limp.Client.Cryptography;
@using Limp.Client.Cryptography.KeyStorage;
@using Limp.Client.HubInteraction;
@using Limp.Client.HubInteraction.EventSubscriptionManager;
@using Limp.Client.HubInteraction.Handlers;
@using Limp.Client.Utilities;
@using LimpShared.Authentification;
@using Microsoft.AspNetCore.SignalR.Client;
@inject NavigationManager _navigationManager
@using ClientServerCommon.Models.Login;
@inject IJSRuntime jS
@implements IAsyncDisposable

<PageTitle>Users Online</PageTitle>

<div style="display: flex; flex-direction: column; gap: 10px;">
    @foreach (var connection in userConnections.Where(x=>!x.ConnectionIds.Contains(myConnectionId) && x.ConnectionIds.Count > 0))
    {
        <div style="    
            display: flex;
            align-items: center;
            gap: 10px;
            padding: 10px;
            border: 1px solid;
            height: 5vh;">
            <span>@connection.Username is looking for a chat!</span>
            <button @onclick="()=>RedirectToChat(connection.Username)">Start a chat</button>
        </div>
    }
</div>

@code {
    private List<UserConnections> userConnections { get; set; } = new();
    private string myConnectionId { get; set; } = string.Empty;
    private string? accessToken { get; set; }
    private HubInteractor? _hubInteractor;
    private UsersHandler? _usersHubHandler;

    private async Task RedirectToChat(string username)
    {
        _navigationManager.NavigateTo($"/user/{username}");
    }

    protected override async Task OnInitializedAsync()
    {
        _hubInteractor = new HubInteractor(_navigationManager, jS);
        _usersHubHandler = new(_navigationManager, jS);

        accessToken = await jS.InvokeAsync<string?>("localStorage.getItem", "access-token");

        if (String.IsNullOrWhiteSpace(accessToken))
        {
            _navigationManager.NavigateTo("login");
            return;
        }

        await _hubInteractor.ConnectToAuthHubAsync(OnTokensRefreshAsync);

        UsersHubSubscriptionManager.SubscribeToConnectionIdReceived((id) =>
        {
            myConnectionId = id;
            StateHasChanged();
        });

        UsersHubSubscriptionManager.SubscribeToUsersConnectionsReceived((userConnectionsList) =>
        {
            userConnections = userConnectionsList;
            StateHasChanged();
        });

        UsersHubSubscriptionManager.SubscribeToUsernameResolved(async (username) =>
        {
            if (_hubInteractor != null)
            {
                await _hubInteractor.ConnectToMessageDispatcherHubAsync();
            }
        });

        await _usersHubHandler.ConnectAsync();
    }

    private async Task OnTokensRefreshAsync(AuthResult result)
    {
        JWTPair? pair = result.JWTPair;
        if (pair == null || String.IsNullOrWhiteSpace(pair.AccessToken) || String.IsNullOrWhiteSpace(pair.RefreshToken.Token))
            _navigationManager.NavigateTo("/login");

        if (result.Result == AuthResultType.Success)
        {
            await jS.InvokeVoidAsync("localStorage.setItem", "access-token", pair!.AccessToken);
            await jS.InvokeVoidAsync("localStorage.setItem", "refresh-token", pair!.RefreshToken.Token);
        }
    }

    public async ValueTask DisposeAsync()
    {
        _usersHubHandler?.Dispose();
        await _hubInteractor?.DisposeAsync();
    }
}
