@page "/users"
@using Microsoft.AspNetCore.SignalR.Client;
@inject NavigationManager Navigation
@using Limp.Shared.Models;

<div style="display: flex; flex-direction: column; gap: 10px;">
    @foreach (var connection in userConnections.Where(x=>!x.ConnectionIds.Contains(myConnectionId)))
    {
        <div style="    
            display: flex;
            align-items: center;
            gap: 10px;
            padding: 10px;
            border: 1px solid;">
            <span>@connection.Username is looking for a chat!</span>
            <button @onclick="()=>RedirectToChat(connection.Username)">Start a chat</button>
        </div>
    }
</div>

@code {
    private HubConnection? hubConnection;
    private List<UserConnections> userConnections { get; set; } = new();
    private string myConnectionId { get; set; } = string.Empty;
    private string myName = "";

    private void RedirectToChat(string username)
    {
        Navigation.NavigateTo($"/user/{username}/{myName}");
    }

    protected override async Task OnInitializedAsync()
    {
        hubConnection = new HubConnectionBuilder()
        .WithUrl(Navigation.ToAbsoluteUri("/usersHub"))
        .Build();

        hubConnection.On<List<UserConnections>>("ReceiveOnlineUsers", updatedTrackedUserConnections =>
        {
            userConnections = updatedTrackedUserConnections;
            StateHasChanged();
        });

        hubConnection.On<string>("ReceiveConnectionId", conId =>
        {
            myConnectionId = conId;
            StateHasChanged();
        });

        await hubConnection.StartAsync();

        await hubConnection.SendAsync("SetUsername", GetRandomName());
    }

    private string GetRandomName()
    {
        var names = new string[5] { "Гриша", "Саша", "Паша", "Антон", "Пётр" };

        var random = new Random();

        myName = names[random.Next(0, 4)];

        return myName;
    }
}
