@page "/users"
@using Limp.Client.HubConnectionManagement.ConnectionHandlers.HubInteraction.Implementations;
@using Limp.Client.HubInteraction.Handlers;
@using Limp.Client.HubInteraction;
@using ClientServerCommon.Models;
@using Limp.Client.Cryptography;
@using Limp.Client.Cryptography.KeyStorage;
@using Limp.Client.HubInteraction.Handlers.Helpers;
@using Limp.Client.HubInteraction.Handlers.MessageDispatcherHub.AESOfferHandling;
@using Limp.Client.HubInteraction.HubObservers.Implementations.AuthHub;
@using Limp.Client.HubInteraction.HubObservers.Implementations.AuthHub.EventTypes;
@using Limp.Client.HubInteraction.HubObservers.Implementations.UsersHubObserver.EventTypes;
@using Limp.Client.HubInteraction.HubObservers;
@using Limp.Client.TopicStorage;
@using Limp.Client.Utilities;
@using LimpShared.Authentification;
@using Microsoft.AspNetCore.SignalR.Client;
@using Limp.Client.UIComponents.ContactItem;
@using ClientServerCommon.Models.Login;
@using System.Collections.Concurrent;
@inject NavigationManager _navigationManager
@inject ICryptographyService _cryptographyService
@inject IMessageBox _messageBox
@inject IAESOfferHandler _aesOfferHandler
@inject IJSRuntime _jS
@inject IHubObserver<UsersHubEvent> _usersHubObserver
@inject IHubObserver<AuthHubEvent> _authHubObserver
@implements IAsyncDisposable

<PageTitle>Users Online</PageTitle>

<div style="padding: 0.5rem 1rem;">
    @foreach (var connection in userConnections.Where(x=>!x.ConnectionIds.Contains(myConnectionId) && x.ConnectionIds.Count > 0))
    {
        <ContactBar
            Username="@connection.Username"
            IsOnline="true"
            OnClickCallback="()=>RedirectToChat(connection.Username)"/>
    }
</div>

@code {
    private List<UserConnection> userConnections { get; set; } = new();
    private string myConnectionId { get; set; } = string.Empty;
    private AuthHubInteractor? _authHubHandler;
    private UsersHubInteractor? _usersHubHandler;
    private HubInteractor? _hubInteractor;
    private List<Guid> usersHubHandlers = new();
    private List<Guid> authHubHandlers = new();

    private async Task RedirectToChat(string username)
    {
        _navigationManager.NavigateTo($"/user/{username}");
    }

    protected override async Task OnInitializedAsync()
    {
        _hubInteractor = new HubInteractor(_navigationManager, _jS, _messageBox, _aesOfferHandler);

        _authHubHandler = new AuthHubInteractor(_navigationManager, _jS, _authHubObserver);
        _usersHubHandler = new UsersHubInteractor(_navigationManager, _jS, _usersHubObserver);

        if (String.IsNullOrWhiteSpace(await JWTHelper.GetAccessToken(_jS)))
        {
            _navigationManager.NavigateTo("login");
            return;
        }

        usersHubHandlers.Add(_usersHubObserver.AddHandler<string>(UsersHubEvent.ConnectionIdReceived,
        async (id) =>
        {
            myConnectionId = id;
        }));

        usersHubHandlers.Add(_usersHubObserver.AddHandler<List<UserConnection>>(UsersHubEvent.ConnectedUsersListReceived,
        async (userConnectionsList) =>
        {
            HandleUserConnectionsUpdate(userConnectionsList);
        }));

        usersHubHandlers.Add(_usersHubObserver.AddHandler<string>(UsersHubEvent.MyUsernameResolved,
        async (username) =>
        {
            if (_hubInteractor != null)
            {
                await _hubInteractor.ConnectToMessageDispatcherHubAsync(cryptographyService: _cryptographyService, onOnlineUsersReceive: (userConnectionsList) =>
                {
                    HandleUserConnectionsUpdate(userConnectionsList);
                });
            }
        }));

        await _authHubHandler.ConnectAsync();
        await _usersHubHandler.ConnectAsync();
    }

    private void HandleUserConnectionsUpdate(List<UserConnection> updatedUserConnections)
    {
        lock(updatedUserConnections)
        {
            userConnections.Clear();
            foreach (var connection in updatedUserConnections)
            {
                userConnections.Add(connection);
            }
            userConnections = updatedUserConnections;
        }
        StateHasChanged();
    }

    public async ValueTask DisposeAsync()
    {
        _usersHubObserver.RemoveHandlers(usersHubHandlers);

        await _usersHubHandler.DisposeAsync();
        await _authHubHandler.DisposeAsync();
        await _hubInteractor?.DisposeAsync();
    }
}
