.message-input-box {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px;
    gap: 10px;
    background-color: #f1f1f1;
    bottom: 0;
    position: fixed;
    max-width: 100%;
    width: calc(100vw - 270px);
}

.message-input-box input {
    flex-grow: 1;
    height: 40px;
    padding: 10px;
    border: none;
    border-radius: 5px;
    font-size: 16px;
}

.message-input-box button {
    height: 40px;
    padding: 0 20px;
    border: none;
    border-radius: 5px;
    background-color: #007bff;
    color: #fff;
    font-size: 16px;
    cursor: pointer;
}
