@inject IJSRuntime JsRuntime

@if (ShouldBeShown)
{
    <div class="modal-div" @onclick=@Hide>
        <div class="modal-window" @onclick:stopPropagation="true">
            <div class="modal-head">
                <h1>@Title</h1>
            </div>
            
            <div class="modal-body">
                @foreach (var line in BodyLines)
                {
                    <p>@line</p>
                }
            </div>

            <div class="modal-footer">
                @foreach (var btn in Buttons.OrderBy(x=>x.ButtonType))
                {
                    <CustomButton
                        Title=@btn.Title
                        ButtonType=@btn.ButtonType
                        OnPress=@btn.OnPress
                        OnPressAsync=@btn.OnPressAsync
                        ClassString="modal-button"/>
                }
            </div>
        </div>
    </div>
}

@code {
    [Parameter] public string Title { get; set; } = string.Empty;
    [Parameter] public string[] BodyLines { get; set; } = Array.Empty<string>();
    [Parameter] public CustomButton[] Buttons { get; set; } = Array.Empty<CustomButton>();
    private bool ShouldBeShown { get; set; }

    public void Show()
    {
        ShouldBeShown = true;
        StateHasChanged();
    }

    public void Hide()
    {
        ShouldBeShown = false;
        StateHasChanged();
    }
}