@using Ethachat.Client.ClientOnlyModels
@using Ethachat.Client.Services.HubServices.HubServices.Implementations.MessageService
@using Ethachat.Client.Services.InboxService;
@using Ethachat.Client.Services.HubServices.CommonServices.CallbackExecutor
@using EthachatShared.Models.Message
@using Ethachat.Client.Services.HubServices.HubServices.Implementations.MessageService.Implementation.Handlers.BinaryReceiving
@using Ethachat.Client.Services.HubServices.HubServices.Implementations.MessageService.Implementation.Handlers.PackageForming
@using Ethachat.Client.Services.VideoStreamingService
@using Ethachat.Client.UI.Chat.Logic.MessageBuilder
@using Ethachat.Client.UI.Chat.UI.Childs.MessageInput.Modals
@using Ethachat.Client.UI.Chat.UI.Childs.MessageInput.Models
@using global::Client.Application.Cryptography
@inject IMessageBuilder MessageBuilder
@inject IMessageService MessageService
@inject IMessageBox MessageBox
@inject IJSRuntime JsRuntime
@inject IPackageMultiplexerService PackageMultiplexerService
@inject ICallbackExecutor CallbackExecutor
@inject ICryptographyService CryptographyService
@inject IBinaryReceivingManager BinaryReceivingManager
@inject IHlsStreamingService HlsStreamingService
@inject NavigationManager NavigationManager
@implements IAsyncDisposable

<div class="message-input-box">
    <input type="text" class="message-input" placeholder="Send a message..." value="@MessageInput" @oninput="UpdateMessageInput" @onkeydown="HandleKeyDown" />

    <label for="fileinput" class="label-wrapper">
        <span>
            <i class="fas fa-paperclip paperclip-icon"></i>
        </span>
        <InputFile id="fileinput" @key="_fileInputId" OnChange="OnFileInput" style="display: none;" />
    </label>

    <button class="send-button" @onclick="SendMessage">Send</button>
</div>

<CustomModal
    @ref="TooLargeFileModal"
    Title=@($"Maximum file size is {Math.Floor((decimal)MaxFileSizeBytes / 1024000)} MB.")
    Buttons=@( [new CustomButton { Title = "Close", ButtonType = Shared.Button.ButtonType.Secondary, OnPress = (TooLargeFileModal is not null ? TooLargeFileModal.Hide : () => { }) }])>
</CustomModal>

<FileEncryptionModal />
<HlsConvertationModal />

@code {
    [Parameter] public string MyUsername { get; set; } = string.Empty;
    [Parameter] public string TopicName { get; set; } = string.Empty;

    private CustomModal? TooLargeFileModal { get; set; }

    private string MessageInput { get; set; } = string.Empty;
    private Guid _fileInputId = Guid.NewGuid();
    private const long MaxFileSizeBytes = long.MaxValue;
    private static Func<IBrowserFile, Task>? SendIBrowserFileDelegate { get; set; } = default;
    private IJSObjectReference? JsModule { get; set; }

    [JSInvokable]
    public static async Task FileFromClipboard(byte[] content, string name, string contentType)
    {
        if (SendIBrowserFileDelegate is not null)
        {
            var browserFile = new ClipboardFile(content, name, contentType);
            await SendIBrowserFileDelegate(browserFile);
        }
    }

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        await base.OnAfterRenderAsync(firstRender);

        if (JsModule is null)
        {
            var path = "./js/Clipboard/ClipboardInteractor.js";
            JsModule = await JsRuntime.InvokeAsync<IJSObjectReference>("import", path);
        }

        if (firstRender)
        {
            SendIBrowserFileDelegate = SendIBrowserFile;
            await JsModule.InvokeVoidAsync("AddOnPasteEvent");
        }
    }

    private void UpdateMessageInput(ChangeEventArgs e)
    {
        MessageInput = e.Value?.ToString() ?? string.Empty;
    }

    private async Task HandleKeyDown(KeyboardEventArgs e)
    {
        if (e.Key == "Enter")
        {
            await SendMessage();
        }
        else
        {
            await MessageService.SendTypingEventToPartnerAsync(MyUsername, TopicName).ConfigureAwait(false);
        }
    }

    private async Task OnFileInput(InputFileChangeEventArgs e)
    {
        //if file exceeds the max size limit
        if (MaxFileSizeBytes - e.File.Size < 0)
        {
            TooLargeFileModal?.Show();
            _fileInputId = Guid.NewGuid();
            return;
        }

        await SendIBrowserFile(e.File);
    }

    private async Task SendIBrowserFile(IBrowserFile browserFile)
    {
        //stream it if it can be streamed
        if (await HlsStreamingService.CanFileBeStreamedAsync(browserFile.Name))
        {
            var playlist = await PostVideoToHlsapiAsync(browserFile);
        
            if (playlist is not null)
            {
                CallbackExecutor.ExecuteSubscriptionsByName(false, "OnIsFileBeingEncrypted");
        
                await MessageService.SendMessage(new ClientMessage
                {
                    Id = Guid.NewGuid(),
                    HlsPlaylist = playlist,
                    Type = MessageType.HLSPlaylist,
                    Target = TopicName,
                    Sender = MyUsername,
                    DateSent = DateTime.UtcNow
                });
                return;
            }
        }

        CallbackExecutor.ExecuteSubscriptionsByName(true, "OnIsFileBeingEncrypted");
        await MessageService.SendMessage(new()
        {
            BrowserFile = browserFile,
            Type = MessageType.BrowserFileMessage,
            Target = TopicName,
            Sender = MyUsername
        });
        CallbackExecutor.ExecuteSubscriptionsByName(false, "OnIsFileBeingEncrypted");
    }

    private async Task<HlsPlaylist?> PostVideoToHlsapiAsync(IBrowserFile browserFile)
    {
        CallbackExecutor.ExecuteSubscriptionsByName($"HLS: Uploading a {browserFile.Name}", "OnTitleChange");
        CallbackExecutor.ExecuteSubscriptionsByName(true, "OnShouldRender");
        var formData = new MultipartFormDataContent();

        var progressStreamContent = new ProgressStreamContent(browserFile.OpenReadStream(long.MaxValue), browserFile.Size);
        progressStreamContent.ProgressChanged += (bytes, currBytes, totalBytes) =>
        {
            var ratio = (double)currBytes / (double)totalBytes;
            var percentage = Math.Round(ratio * 100, 1);
            CallbackExecutor.ExecuteSubscriptionsByName(percentage, "OnVideoUploadProgressChanged");
        };

        formData.Add(progressStreamContent, "payload", browserFile.Name);

        using (var httpClient = new HttpClient())
        {
            try
            {
                var hlsApiUrl = string.Join("", NavigationManager.BaseUri, "hlsapi/convert");

                var request = await httpClient.PostAsync(hlsApiUrl, formData);

                if (!request.IsSuccessStatusCode)
                    throw new ApplicationException("Could not post video to HLS API");

                var m3U8PlaylistContent = await request.Content.ReadAsStringAsync();

                if (string.IsNullOrWhiteSpace(m3U8PlaylistContent))
                    return null;
            
                return new HlsPlaylist
                {
                    Name = browserFile.Name,
                    M3U8Content = m3U8PlaylistContent,
                };
            }
            catch (Exception e)
            {
                throw new ApplicationException("Could not convert video to HLS", e);
            }
            finally
            {
                CallbackExecutor.ExecuteSubscriptionsByName(false, "OnShouldRender");
            }
        }
    }

    private async Task SendMessage()
    {
        if (string.IsNullOrWhiteSpace(MessageInput) || string.IsNullOrWhiteSpace(TopicName) || string.IsNullOrWhiteSpace(MyUsername))
        {
            MessageInput = string.Empty;
            return;
        }

        if (!string.IsNullOrWhiteSpace(MessageInput))
        {
            var message = new ClientMessage
            {
                Target = TopicName,
                Type = MessageType.TextMessage
            };
            message.AddChunk(new()
            {
                Text = MessageInput,
                Index = 0,
                Total = 1
            });
            await MessageService.SendMessage(message);
        }

        MessageInput = string.Empty;
        StateHasChanged();
    }

    public async ValueTask DisposeAsync()
    {
        if (JsModule is not null)
        {
            await JsModule.InvokeVoidAsync("RemoveOnPasteEvent");
            await JsModule.DisposeAsync();
        }
    }
}
