@inherits Ethachat.Client.UI.CommonComponents.BaseComponents.BaseEventListeningComponent

@if (IsTyping)
{
    <span>
        <CustomIcon
            Type="CustomIconType.Solid"
            Name="comment-dots"
            HtmlTitle="typing"
            Color="white"/>
    </span>
}

@code {
    [Parameter] public string PartnerUsername { get; set; } = string.Empty;
    [Parameter] public TimeSpan CooldownMs { get; set; } = TimeSpan.FromSeconds(2);
    private bool IsTyping { get; set; }
    private CancellationTokenSource _typingCancellation = new();
    
    protected override void SubscribeToHubEvents()
    {
        base.SubscribeToHubEvents();
        HubServiceSubscriptionManager.AddCallback<string>(async partnerName =>
        {
            await OnTyping(partnerName);
        }, "OnTyping", ComponentId);
    }
    
    private async Task OnTyping(string partnerName)
    {
        if (partnerName == PartnerUsername)
        {
            CancellationToken cancellationToken;
            await _typingCancellation.CancelAsync();
            _typingCancellation = new();
            cancellationToken = _typingCancellation.Token;

            //Show indicator
            IsTyping = true;
            StateHasChanged();

            //Wait for some time and remove indicator
            try
            {
                await Task.Delay(CooldownMs, cancellationToken);
            }
            catch (TaskCanceledException)
            {
                //Token's cancelled meaning that event is still happening
                return;
            }

            IsTyping = false;
            StateHasChanged();
        }
    }
}