<Modal @ref="modal"
       Title="Confirm AES key renewal">

    <BodyTemplate>
        <span>
            This makes impossible to decrypt not yet delivered messages
        </span>
    </BodyTemplate>
    <FooterTemplate>
        <Button Color="ButtonColor.Success" @onclick=@HandleAESRenewalEvent>Confirm</Button>
        <Button Color="ButtonColor.Secondary" @onclick=@HideModalAsync>Cancel</Button>
    </FooterTemplate>
</Modal>

@code {
    [Parameter]
    public EventCallback OnAESRenewal { get; set; }

    //reference to a modal-component
    private Modal? modal = default!;

    public async Task ShowModalAsync() => await modal!.ShowAsync();

    public async Task HideModalAsync() => await modal!.HideAsync();

    private async Task HandleAESRenewalEvent()
    {
        await OnAESRenewal.InvokeAsync();
        await HideModalAsync();
    }
}
