@using LimpShared.Models.Authentication.Models;
@inject NavigationManager _navigationManager

@if (Result.Result == AuthResultType.Fail)
{
    <SingleResultMessage IsSuccess=false
        MessageText=@Result.Message />
}
else if (Result.Result == AuthResultType.Success)
{
    <SingleResultMessage 
        IsSuccess=true
    MessageText=@Result.Message />

    if(!string.IsNullOrWhiteSpace(SuccesLink) && !string.IsNullOrWhiteSpace(SuccessLinkDescription))
    {
        <Button 
            class="btn btn-primary btn-lg btn-block" 
            onclick="@(() => _navigationManager.NavigateTo(SuccesLink))"
            Style="    
                    display: flex;
                    margin-left: auto;
                    margin-right: auto;
                    margin-top: 10px;
                    margin-bottom: 10px;">
            @SuccessLinkDescription
        </Button>
    }
}

@code {
    [Parameter]
    public AuthResult Result { get; set; }

    [Parameter]
    public string SuccesLink { get; set; } = string.Empty;

    [Parameter]
    public string SuccessLinkDescription { get; set; } = string.Empty;
}
