@using Limp.Client.HubInteraction.Handlers.Helpers;
@using Limp.Client.Pages.AuthenticationChecks.Stages;
@using Limp.Client.Services;
@using Limp.Client.Services.HubConnectionProvider.ConnectionStates;
@using Limp.Client.Services.HubConnectionProvider.Implementation;
@using Limp.Client.Services.HubConnectionProvider;
@using Limp.Client.Services.HubService.AuthService;
@using Limp.Client.Services.JWTReader;
@inject IJSRuntime _jS
@inject IConfiguration _configuration
@inject NavigationManager _navigationManager
@inject IAuthService _authService
@inject IHubConnectionProvider _hubConnectionProvider

@if (isConnectedToAuthHub)
{
    if(_authenticationState == AuthenticationState.TokenActualisation)
    {
        <div class="d-flex flex-column align-items-center text-center">
            <p class="mt-3 mb-0">Checking if you have been authenticated</p>
        </div>
    }
    else
    {
        if (_authenticationState == AuthenticationState.Authenticated)
        {
            @AuthenticatedContent
        }
        else
        {
            @UnauthenticatedContent
        }
    }
}
else
{
    <div class="d-flex flex-column align-items-center text-center">
        <img class="img-fluid" style="max-height: 50vh;" src="https://svgur.com/i/ssH.svg" alt="Server technician adjusting wiring" />
        <p class="mt-3 mb-0">Connectivity error</p>
        <p class="mb-3">Cannot connect to a server</p>
    </div>
}



@code {
    [Parameter] 
    public RenderFragment? AuthenticatedContent { get; set; }
    [Parameter] 
    public RenderFragment? UnauthenticatedContent { get; set; }
    private AuthenticationState _authenticationState { get; set; } = AuthenticationState.TokenActualisation;
    private HubConnectionProviderState _connectionState => _hubConnectionProvider.GetConnectionState();
    private bool isConnectedToAuthHub => _authService.IsConnected();

    protected override async Task OnInitializedAsync()
    {
        if (_hubConnectionProvider.GetConnectionState() is not Services.HubConnectionProvider.ConnectionStates.HubConnectionProviderState.Connected)
            await _hubConnectionProvider.ConnectToHubs();

        await IsUserAuthenticated();
    }

    private async Task IsUserAuthenticated()
    {
        if (isConnectedToAuthHub)
        {
            //If the access token has expired, we will try to update it
            await _authService.RenewalAccessTokenIfExpiredAsync(isRenewalSucceededCallback: RefreshTokenAttemptResult);
        }
        else
        {
            string? accessToken = await JWTHelper.GetAccessTokenAsync(_jS);
            if (string.IsNullOrWhiteSpace(accessToken) || !TokenReader.IsTokenReadable(accessToken))
            {
                _navigationManager.NavigateTo("login");
                return;
            }

            //Make an attempt to reconnect to hubs
            await ReconnectToHubsIfNeededAsync();
            //If we still have no connection to hub make nothing
            if (!isConnectedToAuthHub)
            {
                return;
            }
            //If we are now connected to hub, make sure that user is authenticated
            else
            {
                await IsUserAuthenticated();
            }
        }
    }

    private async Task RefreshTokenAttemptResult(bool isRenewalSucceededCallback)
    {
        //If the refresh token is invalid, the user must log in again
        if (!isRenewalSucceededCallback)
            _authenticationState = AuthenticationState.NotAuthenticated;

        //Else - checking if actualised access token is valid
        await _authService.ValidateAccessTokenAsync(DecideOnToken);
    }

    private async Task DecideOnToken(bool isAccessTokenValid)
    {
        if(isAccessTokenValid)
            _authenticationState = AuthenticationState.Authenticated;
        else
        {
            _authenticationState = AuthenticationState.NotAuthenticated;
        }

        StateHasChanged();
    }

    private async Task ReconnectToHubsIfNeededAsync()
    {
        if (!isConnectedToAuthHub)
        {
            await _hubConnectionProvider.DisposeAsync();
            await _hubConnectionProvider.ConnectToHubs();
        }
    }
}
