@using Ethachat.Client.Services.HubServices.CommonServices.SubscriptionService;
@using Ethachat.Client.Services.InboxService;
@using Ethachat.Client.UI.Chat.UI.Childs.MessageCollectionDispaying.Childs
@using Ethachat.Client.Services.HubServices.HubServices.Implementations.MessageService
@using EthachatShared.Models.Message;
@using Ethachat.Client.Services.VideoStreamingService
@inject IMessageBox MessageBox
@inject IHubServiceSubscriptionManager HubServiceSubscriptionManager
@inject IJSRuntime JsRuntime
@inject IMessageService MessageService
@inject IHlsStreamingService HlsStreamingService
@implements IDisposable

<div class="messages-box @HtmlClass">
    @* ReSharper disable once UnusedParameter.Local *@
    <Virtualize
        Context="message"
        Items="MessageBox.Messages.Where(x => x.Type is not MessageType.Metadata).Where(x => x.Target == TargetGroup || x.Sender == TargetGroup).ToList()">
        <SingleMessage Message="message" MyUsername=@MyUsername/>
    </Virtualize>
</div>

@code {

    [Parameter] public string TargetGroup { get; set; } = string.Empty;

    [Parameter] public string MyUsername { get; set; } = string.Empty;

    [Parameter] public string HtmlClass { get; set; } = string.Empty;

    private Guid ComponentId { get; set; }

    public void Dispose() => HubServiceSubscriptionManager.RemoveComponentCallbacks(ComponentId);

    protected override void OnInitialized()
    {
        base.OnInitialized();

        ComponentId = Guid.NewGuid();
        SubscribeToHubEvents();
    }

    private void SubscribeToHubEvents()
    {
        HubServiceSubscriptionManager
            .AddCallback<Guid>(MarkAsReceived, "OnReceiverMarkedMessageAsReceived", ComponentId);
        
        HubServiceSubscriptionManager
            .AddCallback<Guid>(MarkAsRead, "OnReceiverMarkedMessageAsRead", ComponentId);

        HubServiceSubscriptionManager
            .AddCallback(AddMessageAsync, "MessageBoxUpdate", ComponentId);
    }

    private async Task MarkAsReceived(Guid messageId)
    {
        await MessageBox.OnDelivered(messageId);

        StateHasChanged();
    }

    private async Task MarkAsRead(Guid messageId)
    {
        MessageBox.OnSeen(messageId);

        StateHasChanged();
    }

    private async Task AddMessageAsync()
    {
        StateHasChanged();

        await ScrollToLastMessage();
    }

    private async Task ScrollToLastMessage()
    {
        string jsCode =
            @"var messagesBox = document.querySelector('.messages-box');
        messagesBox.scrollTop = messagesBox.scrollHeight;";

        await JsRuntime.InvokeVoidAsync("eval", jsCode);
    }

}