@page "/"
<PageTitle>About ηChat</PageTitle>

<div class="presentation">
    <section class="p2 core-features" id="features">
        <div class="container">
            <div class="row" style="min-height: 100dvh;">
                <div class="col-12">
                    <div class="heading">
                        <h2>Our Core Features</h2>
                    </div>
                </div>
                <div class="col-md-4">

                    <div class="mb-40 text-center text-md-left">
                        <i class="bi bi-braces"></i>
                        <h4 class="font-weight-bold mb-2">Open-Source</h4>
                        <p>
                            Protecting your data is our No. 1 priority. 
                            There are no backdoors or loopholes in our project 
                            - the code is open, everyone can make sure it's secure.
                        </p>
                    </div>

                    <div class="mb-40 text-center text-md-left">
                        <i class="bi bi-shield-shaded"></i>
                        <h4 class="font-weight-bold mb-2">Build with privacy in mind</h4>
                        <p>
                            Protecting messages from third parties in the messenger is the concept that inspired us 
                            to create this messenger.
                        </p>
                    </div>

                    <div class="mb-40 text-center text-md-left">
                        <i class="bi bi-credit-card-fill"></i>
                        <h4 class="font-weight-bold mb-2">Free. Once and forever</h4>
                        <p>
                            Freedom of communication is the right of every person in the world. 
                            Everyone should have the right to secrecy of correspondence.
                        </p>
                    </div>

                </div>
                <div class="col-md-4 text-center align-self-center mb-4 mb-md-0">
                    <img class="img-fluid" src="assets/svg/sV0.svg" alt="">
                </div>
                <div class="col-md-4">

                    <div class="mb-40 text-center text-md-left">
                        <i class="bi bi-motherboard-fill"></i>
                        <h4 class="font-weight-bold mb-2">Client-side-encryption</h4>
                        <p>
                            All encryption and decryption operations take place exclusively on your device, 
                            which guarantees an exceptional degree of data protection.
                        </p>
                    </div>

                    <div class="mb-40 text-center text-md-left">
                        <i class="bi bi-0-circle-fill"></i>
                        <h4 class="font-weight-bold mb-2">
                            Zero — that's how much server should know about your message
                        </h4>
                        <p>
                            We use a zero-knowledge policy on the server. 
                            The server does not know and never will know what is inside your messages. 
                            Only to whom it is addressed.
                        </p>
                    </div>

                    <div class="mb-40 text-center text-md-left">
                        <i class="bi bi-database-fill-slash"></i>
                        <h4 class="font-weight-bold mb-2">Your messages are not being stored</h4>
                        <p>
                            We don't keep a single message you've sent to anyone, 
                            and we don't keep a list of your contacts.
                        </p>
                    </div>

                </div>
            </div>
        </div>
    </section>

    <section class="section">
        <div class="container">
            <div class="row">
                <div class="col-md-6 text-center mb-5 mb-md-0">
                    <img class="img-fluid" src="assets/svg/sUd.svg" alt="">
                </div>
                <div class="col-md-6 align-self-center text-center text-md-left">
                    <div class="block">
                        <h1 class="font-weight-bold mb-4 font-size-60">It's all about the chat</h1>
                        <p class="mb-4">Truely secure one</p>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <footer class="text-center text-white" style="background-color: #f1f1f1;">
        <div class="text-center text-dark p-3" style="background-color: rgba(0, 0, 0, 0.2);">
            <p>(ɔ)@DateTime.UtcNow.Year</p>
            <p>
                Made <i class="bi bi-heart-fill" style="color: red;"></i> by 
                <strong>
                    Three Dollar Software Foundation
                </strong>
            </p>
        </div>
    </footer>

</div>