@using Ethachat.Client.Cryptography.KeyStorage;
@using EthachatShared.Encryption;
@using Ethachat.Client.Pages.Chat.UI.Childs.ChatHeader.Child;
@using Ethachat.Client.Services.HubServices.HubServices.Implementations.MessageService
@using Ethachat.Client.Services.InboxService
@inject IMessageBox _messageBox;
@inject IMessageService _messageService

<div class="header">
    <div class="profile-picture @(IsOnline ? "online" : "")">
        <img src=@AvatarLink alt="Profile Picture">
    </div>
    <div class="contact-info">
        <h2 class="name">@PartnerName</h2>
        <p class="status">@(IsOnline ? "Active now" : "Seen recently")</p>
    </div>
    <div class="key-info">
        <button title="Clear conversation" @onclick="DeleteConversation" style="border: none;">
            <i class="bi bi-trash-fill key-icon"></i>
        </button>
        <button title="Renew AES Key" style="border: none;" @onclick=ShowModalAsync>
            <i class="bi bi-key-fill key-icon"></i>
        </button>
        @if (AESKey != null)
        {
            <div class="key-details">
                <p class="key-label">AES-secured</p>
                <p class="key-value">Key creation date: @AESKey.CreationDate.ToLocalTime().ToString("dd/MM HH:mm")</p>
            </div>
        }
    </div>
</div>

<AESKeyRenewalModal 
    @ref=aesRenewalModal 
    OnAESRenewal="OnAESRenewal"/>

@code {
    [Parameter]
    public string PartnerName { get; set; } = "Unnamed";
    [Parameter]
    public bool IsOnline { get; set; } = false;
    [Parameter]
    public string AvatarLink { get; set; } = "https://shorturl.at/gxAE7";
    [Parameter]
    public Key? AESKey { get; set; }
    [Parameter]
    public EventCallback OnAESRenewal { get; set; }

    private AESKeyRenewalModal? aesRenewalModal { get; set; }
    
    private async Task ShowModalAsync()
    {
        if (aesRenewalModal != null)
            await aesRenewalModal.ShowModalAsync();
    }

    private void DeleteConversation()
    {
        _messageService.RequestPartnerToDeleteConvertation(PartnerName);
        _messageBox.Delete(PartnerName);
    }
}
