.user-card-container {
    display: flex;
    align-items: center;
    padding: 0.75rem;
    cursor: pointer;
    background-color: transparent;
    border-radius: var(--app-border-radius);
    color: var(--app-font-color);
    gap: 1rem;
}

.user-card {
    display: flex;
    align-items: center;
    flex: 1;
    gap: 0.5rem;
}

.profile-picture {
    display: flex;
    align-items: center;
    justify-content: center;
}

.contact-info {
    display: flex;
    flex-direction: column;
    flex: 1;
}

.username {
    font-size: 1.25rem;
    font-weight: bold;
    color: white;
}

.status {
    font-size: 0.875rem;
    color: grey; /* Adjust color as needed */
}

.key-info {
    display: flex;
    align-items: center;
}

.key-icon {
    font-size: 1.5rem;
    color: white;
}

.active .key-icon {
    color: var(--app-green); /* Change to green when active */
}
