@page "/contacts"
@using Limp.Client.Services.InboxService;
@using LimpShared.Models.ConnectedUsersManaging
@using Limp.Client.Pages.Contacts.UI.Child;
@using Limp.Client.Pages.Contacts.Models;
@using Limp.Client.Services.CloudKeyService;
@using Limp.Client.Services.ContactsProvider;
@using Limp.Client.Services.HubServices.CommonServices.SubscriptionService;
@using Limp.Client.Services.HubServices.HubServices.Implementations.UsersService
@inject NavigationManager _navigationManager;
@inject IContactsProvider _contactsProvider;
@inject IUsersService _usersService
@inject IHubServiceSubscriptionManager _hubServiceSubscriptionManager
@inject IJSRuntime _jSRuntime;
@inject IBrowserKeyStorage _localKeyManager;
@inject IMessageBox _messageBox
@using Limp.Client.Shared.ReuseableComponents.EditableList;
@using Limp.Client.Shared.ReuseableComponents.EditableList.Models
@using LimpShared.Models.Users;
@implements IDisposable

<div class="p-2" style="  
    width: 100%;
    height: 100%;
    overflow: auto;">
    <div style="display: flex;
            flex-direction: column;
            gap: 10px;">
        <SearchForContact 
            OnNewContactSearch="OnAddContactAttempt" />

        @if(ContactsList.Any())
        {
            <EditableList 
                itemCollection="ContactsList
                    .Select(x=> new ItemModel
                    {
                        IsActive = x.IsOnline, 
                        IsEncryptionSettedUp = x.IsKeyReady, 
                        ItemName = x.Username,
                        BadgeModel = GetContactBadge(x),
                        ShowBadge = x.UnreadedMessagesCount > 0
                    })
                    .ToList()"
                OnItemClicked="NavigateToChatWithContact"
                OnItemRemoved="RemoveContact" 
                ListHeader="Contacts:"
                IconClass="bi bi-person-fill"/>
        }
        else
        {
            <Callout Type="CalloutType.Tip">
                <div style="display: flex; flex-direction: column;">
                    <h3>Your contact book is empty</h3>
                    <span>Add someone and start a new chat!</span>
                </div>
            </Callout>
        }
    </div>
</div>

<ConfirmContactAdditionModal 
    @ref="contactAdditionModal"
    ContactCollection="ContactsList"
    OnContactAddition="HandleContactAddition"/>


@code {
    private ConfirmContactAdditionModal? contactAdditionModal = default!;
    private List<Contact> ContactsList = new();
    private bool contactEditionMode = false;
    private Guid ComponentId { get; set; }
    private UserConnectionsReport _usersOnlineMessage { get; set; } = new();

    public void Dispose() => _hubServiceSubscriptionManager.RemoveComponentCallbacks(ComponentId);

    private void ToggleEditContactsMode() => contactEditionMode = !contactEditionMode;

    public void NavigateToChatWithContact(string contactUsername) => _navigationManager.NavigateTo($"user/{contactUsername}");

    private BadgeModel GetContactBadge(Contact contact)
    {
        return new()
        {
            Text = contact.UnreadedMessagesCount.ToString(),
            InlineStyles = "background-color: white; color: black; margin-left: auto;"
        };
    }

    private async Task RemoveContact(string username)
    {
        //Get contact out of client's browser local storage
        await _contactsProvider.RemoveContact(username, _jSRuntime);

        //If there is no one in contact book left, toggle change mode back to false automatically
        if(!(await _contactsProvider.GetContacts(_jSRuntime)).Any())
        {
            ToggleEditContactsMode();
        }

        //update displayed contacts in UI component
        await _usersService.ActualizeConnectedUsersAsync();
    }

    private async Task OnAddContactAttempt(string username)
    {
        await _usersService.CheckIfUserExists(username);
    }

    private async Task HandleExistingUserAdditionToContacts(IsUserExistDto isUserExistDTO)
    {
        ContactAdditionModalDTO modalDTO = new()
            {
                IsUserExists = isUserExistDTO.IsExist,
                NewContactUsername = isUserExistDTO.Username
            };

        await contactAdditionModal!.ShowModalWithBodyTextAsync(modalDTO);
    }

    private async Task HandleContactAddition(string username)
    {
        await _contactsProvider.AddContact(username, _jSRuntime);
        await _usersService.ActualizeConnectedUsersAsync();
        await contactAdditionModal!.HideModalAsync();
    }


    protected override async Task OnInitializedAsync()
    {
        //This id will be needed on dispose stage
        //On dispose stage we need to clear out all of the component event subscriptions
        ComponentId = Guid.NewGuid();

        //Subscribing to server event of updating online users
        _hubServiceSubscriptionManager
            .AddCallback<UserConnectionsReport>(UpdateContacts, "ReceiveOnlineUsers", ComponentId);

        _hubServiceSubscriptionManager.AddCallback<string>(UpdateContact, "NewUnreadedMessage", ComponentId);

        _hubServiceSubscriptionManager.AddCallback<IsUserExistDto>(HandleExistingUserAdditionToContacts, "UserExistanceResponse", ComponentId);

        //Actualizing list of users that currently online
        await _usersService.ActualizeConnectedUsersAsync();
    }

    private async Task UpdateContacts(UserConnectionsReport updatedUserConnections)
    {
        TryUpdateLastReceivedContacts(updatedUserConnections);

        List<string> contacts = await _contactsProvider.GetContacts(_jSRuntime);
        ContactsList = contacts.Select(contact =>
        new Contact
            {
                Username = contact,
                IsOnline = _usersOnlineMessage.UserConnections.Any(x => x.Username == contact),
                LastMessage = DateTime.UtcNow
            }
        ).ToList();

        foreach (Contact contact in ContactsList)
        {
            await UpdateContact(contact.Username);
        }
    }

    private async Task UpdateContact(string contactUsername)
    {
        Contact? contact = ContactsList.FirstOrDefault(x => x.Username == contactUsername);
        if (contact is not null)
        {
            contact.IsKeyReady = await _localKeyManager.IsAESKeyReady(contact.Username);
            contact.UnreadedMessagesCount = _messageBox.Messages.Where(x => x.Sender == contactUsername && !x.IsSeen).Count();
            StateHasChanged();
        }
    }

    private void TryUpdateLastReceivedContacts(UserConnectionsReport usersOnlineMessage)
    {
        if (_usersOnlineMessage == null || _usersOnlineMessage.FormedAt < usersOnlineMessage.FormedAt)
        {
            _usersOnlineMessage = usersOnlineMessage;
        }
    }
}