@inject NavigationManager _navManager

<div style="border-right: 1px solid black;
    display: flex;
    flex-direction: column;
    width: 200px;">
    <div style="
        display: flex;
        background-color: black;
        color: white;
        justify-content: center;
        padding: 10px;
        font-size: 16pt;">
        <div>
            <span style="white-space: nowrap;">Limp Messenger</span>
        </div>
    </div>

    <div style="
    display: flex;
    flex-direction: column;
    padding: 10px;
    gap: 10px;">
        @foreach (var link in NavBarLinks)
        {
            <a class="navigation-element @(link.IsActive ? "active": "")" href=@link.URL @onclick="() => SetActive(link)">
                <span class=@link.IconClass aria-hidden="true"></span> @link.Name
            </a>
        }
    </div>
</div>

@code {
    void SetActive(Link link)
    {
        if (NavBarLinks.Any(x => x.IsActive))
        {
            NavBarLinks
            .Where(x => x.IsActive)
            .ToList()
            .ForEach(elem => elem.IsActive = false);
        }
        NavBarLinks.First(x => x.URL == link.URL).IsActive = true;
    }

    protected override void OnInitialized()
    {
        string currentPage = _navManager.ToBaseRelativePath(_navManager.Uri);
        Link? activeLink = NavBarLinks.FirstOrDefault(x => x.URL.ToLowerInvariant().Equals(currentPage));
        if (activeLink != null)
            SetActive(activeLink);
    }

    class Link
    {
        public string Name { get; set; } = string.Empty;
        public string URL { get; set; } = string.Empty;
        public string IconClass { get; set; } = string.Empty;
        public bool IsActive { get; set; } = false;
    }

    List<Link> NavBarLinks { get; } = new List<Link>
    {
        new Link()
        {
            Name = "Home",
            URL = "",
            IconClass = "oi oi-home"
        },
        new Link()
        {
            Name = "Login",
            URL = "login",
            IconClass = "oi oi-home"
        },
        new Link()
        {
            Name = "Register",
            URL = "register",
            IconClass = "oi oi-plus"
        },
        new Link()
        {
            Name = "Users",
            URL = "users",
            IconClass = "oi oi-list-rich"
        }
    };
}
