<div class="input-group">
    <div class="input-group-prepend">
        <span class="input-group-text" id="basic-addon1">
            <CustomIcon
                Color="white"
                Name="magnifying-glass"
                Type="CustomIconType.Solid"/>
        </span>
    </div>
    <input type="text"
           class="form-control"
           placeholder="Search"
           aria-label="Search"
           aria-describedby="basic-addon1"
           @bind="NewContactUsername"
           @bind:event="oninput"
           @onkeydown="((e) => HandleKeyDown(e))">
</div>

@code {
    [Parameter] public EventCallback<string> OnNewContactSearch { get; set; }

    private string NewContactUsername { get; set; } = string.Empty;

    private async Task HandleKeyDown(KeyboardEventArgs e)
    {
        if (e.Key == "Enter")
        {
            await OnNewContactSearch.InvokeAsync(NewContactUsername);
        }
    }
}