@using Ethachat.Client.Shared.ReuseableComponents.EditableList.Models;

<div class="p-2" style="
        background-color: white;">
    <div style="
            display: flex;
            justify-content: space-between;">
        <h1>@ListHeader</h1>
        <Button Color="ButtonColor.Primary"
                Outline="true"
        @onclick="ToggleContactEditionMode">
            @(EditionMode ? "Done" : "Edit")
        </Button>
    </div>
    <div>
        <Virtualize Items="@itemCollection" Context="item">
            <div style="display: flex;
                align-items: baseline;
                gap: 10px;">
                @if (EditionMode)
                {
                    <Icon Style="color: red; font-size: 20px; cursor: pointer;" Name="IconName.DashCircle"
                    @onclick="(() => OnItemRemoved.InvokeAsync(item))"></Icon>
                }
                <EditableListItem 
                    OnItemClickedAction=@(( itemName) => OnItemClicked.InvokeAsync(item))
                    ItemModel="item"
                    IconClass=@IconClass
                    Style="width: 100%; margin-top: 10px;"/>
            </div>
        </Virtualize>
    </div>
</div>

@code {
    [Parameter]
    public string? IconClass { get; set; } = string.Empty;

    [Parameter]
    public string ListHeader { get; set; } = "Items";

    [Parameter]
    public bool EditionMode { get; set; } = false;

    [Parameter]
    public List<ItemModel> itemCollection { get; set; } = new();

    private void ToggleContactEditionMode()
    {
        EditionMode = !EditionMode;
        StateHasChanged();
    }

    [Parameter]
    public EventCallback<ItemModel> OnItemRemoved { get; set; }

    [Parameter]
    public EventCallback<ItemModel> OnItemClicked { get; set; }
}
