@using Ethachat.Client.UIComponents.InputForms.Registration.Models;
@inherits InputBox

<div>
    <InputBox InputText=@CheckedInput?.Value
              IconClass=@IconClass
              Placeholder=@Placeholder
              BindEvent=@BindEvent
              IsRequired=@IsRequired
              Type=@Type
              OnInput=OnInput
              Label=@Label />

    @if(CheckedInput is not null)
    {
        @if (CheckedInput.IsTouched)
        {
            <div style="
                        display: flex;
                        flex-direction: column;
                        gap: 10px;
                        color:red;">

                @foreach (var errorMessage in CheckedInput.ErrorMessages)
                {
                    <span>@errorMessage</span>
                }
            </div>
        }
    }
</div>

@code {
    [Parameter]
    public CheckedInput? CheckedInput { get; set; }
}
