html{
}

.ApplicationContent {
    display: flex;
    color: var(--app-font-color);
}

.ApplicationBody{
    width: calc(100dvw - var(--app-sidebar-width));
}

.RSACalculatingWarning {
    color: var(--app-font-color);
    position: absolute;
    height: 100dvh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 16pt;
    font-weight: 600;
}

@media only screen and (max-width: 640px) {
    .ApplicationContent{
        flex-direction: column;
    }
    
    .ApplicationBody{
        width: 100dvw;
    }
}
