.message {
    display: flex;
    flex-direction: column;
    background-color: lightgreen;
    border-radius: 16px;
    margin: 8px 0;
    max-width: 75%;
}

.incoming {
    background-color: deepskyblue;
    align-self: flex-start;
}

.outcoming {
    background-color: #DCF8C6;
    align-self: flex-end;
}

.message-text {
    padding: 8px;
    font-size: 16px;
    line-height: 24px;
    color: #000000;
    overflow-wrap: break-word;
}

.message-footer {
    display: flex;
    gap: 5px;
    padding-left: 8px;
    margin: 4px 8px;
    font-size: 12px;
    line-height: 16px;
    color: #606060;
}

.fa-check,
.fa-check-double {
    margin-left: 5px;
    color: #9B9B9B;
}

.outcoming .fa-check {
    color: limegreen;
}

.outcoming .fa-check-double {
    color: limegreen;
}

.incoming .fa-check-double {
    color: limegreen;
}
