@page "/users"
@using Ethachat.Client.UI.AuthenticationChecks
@using Ethachat.Client.Services.AuthenticationService.Handlers
@using Ethachat.Client.Services.HubServices.CommonServices.SubscriptionService;
@using Ethachat.Client.Services.HubServices.HubServices.Implementations.UsersService
@using Ethachat.Client.UI.CommonComponents.ContactItem
@using EthachatShared.Models.ConnectedUsersManaging;
@using Ethachat.Client.UI.Shared.Callout
@using CalloutType = Ethachat.Client.UI.Shared.Callout.CalloutType
@inject NavigationManager _navigationManager
@inject IUsersService _usersService
@inject IHubServiceSubscriptionManager _hubServiceSubscriptionManager
@inject IAuthenticationHandler AuthenticationHandler
@implements IDisposable

<PageTitle>Users Online</PageTitle>

<AuthenticatedView>
    <AuthenticatedContent>
        <div class="ApplicationContent p-2">
            @if (!_usersOnlineMessage.UserConnections.Any(x => x.Username != myUsername))
            {
                <CustomCallout
                    CalloutType="CalloutType.Info"
                    CalloutBody="Looks like everyone is offline now."/>
            }
            else if (string.IsNullOrWhiteSpace(myUsername))
            {
                <CustomCallout
                    CalloutType="CalloutType.Info"
                    CalloutBody="Resolving your username."/>
            }
            else
            {
                <Virtualize
                    Items="_usersOnlineMessage.UserConnections.Where(x => x.Username != myUsername && x.ConnectionIds.Count > 0).DistinctBy(x => x.Username).ToArray() ?? Array.Empty<UserConnection>()"
                    Context="connection">

                    <ContactBar Username="@connection.Username"
                                OnClickCallback="@(() => _navigationManager.NavigateTo($"{connection.Username}"))"/>
                </Virtualize>
            }
        </div>
    </AuthenticatedContent>
    <UnauthenticatedContent>
        <UnAuthorized/>
    </UnauthenticatedContent>
</AuthenticatedView>

@code {
    private UserConnectionsReport _usersOnlineMessage { get; set; } = new();
    private string myUsername { get; set; } = String.Empty;
    private Guid ComponentId { get; set; }

    public void Dispose() => _hubServiceSubscriptionManager.RemoveComponentCallbacks(ComponentId);

    protected override async Task OnInitializedAsync()
    {
    //This id will be needed on dispose stage
    //On dispose stage we need to clear out all of the component event subscriptions
        ComponentId = Guid.NewGuid();

        if (!await AuthenticationHandler.IsSetToUseAsync())
        {
            _navigationManager.NavigateTo("/signIn");
            return;
        }

        myUsername = await AuthenticationHandler.GetUsernameAsync();

    //Subscribing to server event of updating online users
        _hubServiceSubscriptionManager
            .AddCallback<UserConnectionsReport>(UpdateUsersList, "ReceiveOnlineUsers", ComponentId);

    //Actualizing list of users that currently online
        await _usersService.ActualizeConnectedUsersAsync();
    }

    private void UpdateUsersList(UserConnectionsReport usersOnlineMessage)
    {
        if (_usersOnlineMessage.FormedAt < usersOnlineMessage.FormedAt)
        {
            _usersOnlineMessage = usersOnlineMessage;
            StateHasChanged();
        }
    }
}