.custom-btn {
    display: inline-block;
    outline: none;
    border: none;
    cursor: pointer;
    text-align: center;
    min-height: 1rem;
    min-width: 5rem;
    color: black;
    font-weight: 500;
    font-size: 1rem;
    padding: 0.5rem;
    box-shadow: none;
    border-radius: var(--border-radius);
}

.custom-btn:hover{
    background-color: #0404044d;
}

.success {
    background-color: #7cdd7c;
}

.danger {
    background-color: #ff5d6d;
}

.secondary {
    background-color: #939191;
}