@using Limp.Client.ClientOnlyModels;
@using Limp.Client.Services.HubServices.CommonServices.SubscriptionService;
@using Limp.Client.Services.InboxService;
@using Limp.Client.Pages.Chat.UI.Childs.MessageCollectionDispaying.Childs
@using Limp.Client.Services.HubServices.HubServices.Implementations.MessageService
@using LimpShared.Models.Message;
@inject IMessageBox _messageBox
@inject IHubServiceSubscriptionManager _hubServiceSubscriptionManager
@inject IJSRuntime _jSRuntime
@inject IMessageService _messageService
@implements IDisposable

<div class="messages-box">
    <Virtualize 
        Context="message"
        Items="_messageBox.Messages
            .Where(x => x.TargetGroup == targetGroup || x.Sender == targetGroup)
            .ToList()" >
        <SingleMessage message="message" myUsername=@myUsername OnResend="ResendMessage"/>
    </Virtualize>
</div>

@code {

    [Parameter]
    public string targetGroup { get; set; } = string.Empty;

    [Parameter]
    public string myUsername { get; set; } = string.Empty;

    private Guid ComponentId { get; set; }

    public void Dispose() => _hubServiceSubscriptionManager.RemoveComponentCallbacks(ComponentId);

    protected override async Task OnInitializedAsync()
    {
        ComponentId = Guid.NewGuid();
        SubscribeToHubEvents();
    }

    private void SubscribeToHubEvents()
    {
        _hubServiceSubscriptionManager
            .AddCallback<Guid>(MarkAsReceived, "OnReceiverMarkedMessageAsReceived", ComponentId);
        
        _hubServiceSubscriptionManager
            .AddCallback(AddMessageAsync, "MessageBoxUpdate", ComponentId);
        
        _hubServiceSubscriptionManager
            .AddCallback<Guid>(MessageRegisteredByHub, "MessageRegisteredByHub", ComponentId);
    }

    private async Task ResendMessage(ClientMessage message)
    {
        await _messageService.SendMessage(message);
    }

    public async Task MessageRegisteredByHub(Guid id)
    {
        await _messageBox.OnRegistered(id);

        StateHasChanged();
    }

    public async Task MarkAsReceived(Guid messageId)
    {
        await _messageBox.OnDelivered(messageId);

        StateHasChanged();
    }

    public async Task AddMessageAsync()
    {
        StateHasChanged();

        await ScrollToLastMessage();
    }

    private async Task ScrollToLastMessage()
    {
        string jsCode =
            @"var messagesBox = document.querySelector('.messages-box');
        messagesBox.scrollTop = messagesBox.scrollHeight;";

        await _jSRuntime.InvokeVoidAsync("eval", jsCode);
    }

}