.active {
    background-color: rgba(41,56,41,255);
    cursor: pointer;
}

.navigation-item-btn {
    padding: 0.5rem;
    display: flex;
    align-items: center;
    gap: 0.5rem;
    font-size: 1rem;
    cursor: pointer;
    color: var(--app-font-color);
    border-radius: var(--app-border-radius);
    margin-bottom: 0.2rem;
}

.navigation-item-btn:hover {
    background-color: rgb(41 56 41 / 40%);;
}