.sidebar {
    background-color: rgba(18, 23, 17, 255);
    width: var(--app-sidebar-width);
    height: 100dvh;
    position: sticky;
    top: 0;
    left: 0;
    padding-left: 1rem;
    padding-right: 1rem;
}

.sidebar-header {
    font-size: 2rem;
    padding: 0.5rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    color: var(--app-font-color);
    height: 3.5rem;
}

.sidebar-split-line{
    background-color: rgb(255 255 255 / 28%);
    height: 0.05rem;
    margin-bottom: 0.5rem;
    margin-top: 0.5rem;
}

.sidebar-body{
    
}

.sidebar-toggle-btn {
    color: var(--app-font-color);
    display: none;
    cursor: pointer;
}

.sidebar-footer{
    padding: 0.3rem;
    background-color: rgba(0, 0, 0, 0.05);
    width: 100%;
}

@media only screen and (max-width: 640px) {
    .sidebar {
        width: 100%;
        height: unset;
        position: relative;
    }
    
    .sidebar-split-line {
        display: none;
    }

    .sidebar-header {
        flex-direction: row;
        align-items: center;
    }
    
    .sidebar-toggle-btn {
        display: unset;
    }
    
    .sidebar-footer{
        display: none;
    }
}

@media only screen and (min-width: 641px) {
    .sidebar-body {
        display: block !important;
    }
}