@inject NavigationManager NavigationManager

<div class="bb-page">

    <Sidebar @ref="_sidebar"
             CustomIconName="bi bi-file-lock2-fill"
             Title="ηChat"
             DataProvider=SidebarDataProvider />

</div>

@code {
    Sidebar? _sidebar;
    IEnumerable<NavItem>? _navigationItems;

    private async Task<SidebarDataProviderResult> SidebarDataProvider(SidebarDataProviderRequest request)
    {
        if (_navigationItems is null)
            _navigationItems = GetNavItems();

        return await Task.FromResult(request.ApplyTo(_navigationItems!));
    }

    private IEnumerable<NavItem>? GetNavItems()
    {
        _navigationItems = new List<NavItem>
        {
            new NavItem { Id = "1", IconName = IconName.ChatFill, IconColor = IconColor.Success, Text = "Chat"},
                new NavItem { Id = "2", Href="/contacts", ParentId = "1", Text = "Contacts", IconName = IconName.PeopleFill },
                new NavItem { Id = "3", Href="/users", ParentId = "1", Text = "Users Online", IconName = IconName.PeopleFill },
            new NavItem { Id = "4", Href="/settings", Text="Settings", IconName = IconName.GearWideConnected },
            new NavItem { Id = "5", Href="/", IconName = IconName.InfoCircleFill, Text = "About 3$Chat"},
        };

        return _navigationItems;
    }

    private void ToogleSidebar() => _sidebar?.ToggleSidebar();
}