@using ButtonType = Ethachat.Client.UI.Shared.Button.ButtonType

<div style="
        background-color: whitesmoke;">
    <div class="input-group">
        <div class="input-group-prepend">
            <span
                style="height: 2.5rem;"
                class="input-group-text" id="basic-addon1">@("@")</span>
        </div>
        <input type="text"
               style="
               height: 2.5rem; 
               box-shadow: none;"
               class="form-control"
               placeholder="Type username here"
               aria-label="Username"
               aria-describedby="basic-addon1"
               @bind="NewContactUsername"
               @bind:event="oninput"
               @onkeydown="((e) => HandleKeyDown(e))">

        <CustomButton
            StyleString="height: 2.5rem; box-shadow: none;"
            Title="Search"
            ButtonType="ButtonType.Primary"
            OnPressAsync="() => OnNewContactSearch.InvokeAsync(NewContactUsername)">
            <ChildContext>
            </ChildContext>
        </CustomButton>
    </div>
</div>

@code {
    [Parameter] public EventCallback<string> OnNewContactSearch { get; set; }

    private string NewContactUsername { get; set; } = string.Empty;

    private async Task HandleKeyDown(KeyboardEventArgs e)
    {
        if (e.Key == "Enter")
        {
            await OnNewContactSearch.InvokeAsync(NewContactUsername);
        }
    }

}