.ApplicationContent {
    display: flex;
    flex-direction: row;
    height: 100vh;
    width: 100vw;
}

.RSACalculatingWarning {
    position: absolute;
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 16pt;
    font-weight: 600;
}

@media only screen and (max-width: 640px) {
    .ApplicationContent{
        flex-direction: column;
    }
}
