@inherits LayoutComponentBase

<div style=
    "display: flex;
    flex-direction: row;
    height: 100vh;
    width: 100vw;">
    <NavMenu />
    <div style="width: 100%;">
        @Body
    </div>
</div>
