@using Limp.Client.Cryptography;
@using Limp.Client.Shared.NavigationBar
@inherits LayoutComponentBase
@inject ICryptographyService _cryptographyService

@if(isRSAGenerated)
{
    <div class="ApplicationContent">
        <NavMenu />
        <div style="width: 100%;">
            @Body
        </div>
    </div>
}
else
{
    <div class="RSACalculatingWarning">
        <p>
            Calculating an RSA key pair...
        </p>
    </div>
}

@code{
    private bool isRSAGenerated = false;

    protected override async Task OnInitializedAsync()
    {
        await _cryptographyService.GenerateRSAKeyPairAsync();
        KeysGeneratedHandler.SubscribeToRSAKeysGeneratedEvent(() =>
        {
            isRSAGenerated = true;
            StateHasChanged();
        });
    }
}