@using Limp.Client.Cryptography;
@using Limp.Client.Cryptography.KeyStorage;
@using Limp.Client.HubInteraction.Handlers.Helpers;
@using Limp.Client.Services.HubConnectionProvider;
@using Limp.Client.Services.HubService.UsersService;
@using Limp.Client.Services.NotificationService;
@using Limp.Client.Shared.ChildComponents
@using LimpShared.Encryption;
@using LimpShared.Models.WebPushNotification;
@inherits LayoutComponentBase
@inject ICryptographyService _cryptographyService
@inject IHubConnectionProvider _hubConnectionProvider
@inject IJSRuntime _jSRuntime
@inject IUsersService _usersService
@inject IWebPushService _webPushService

@if (!isRSAGenerated)
{
    <div class="RSACalculatingWarning">
        <p>
            Calculating an RSA key pair...
        </p>
    </div>
}
else if(!isConnectedToHubs)
{
    <div class="RSACalculatingWarning">
        <p>
            Connecting to application server
        </p>
    </div>
}
else
{
    <div class="ApplicationContent">
        <SidebarMenu />
        <div style="width: 100%;">
            @Body
        </div>
    </div>
}

@code{
    private bool isRSAGenerated = false;
    private bool isConnectedToHubs = false;

    protected override async Task OnInitializedAsync()
    {
        await _cryptographyService.GenerateRSAKeyPairAsync();
        KeysGeneratedHandler.SubscribeToRSAKeysGeneratedEvent(() =>
        {
            isRSAGenerated = true;
            StateHasChanged();
            _hubConnectionProvider.ConnectToHubs();
            isConnectedToHubs = true;
        });

        await _webPushService.RequestWebPushPermission();
    }
}