.navigation-element {
    padding: 10px;
    border-radius: 5px;
    text-decoration: none;
    font-size: 14pt;
    color: black;
}

.active {
    background-color: black !important;
    color: white;
}

.navigation-element:hover {
    background-color: lightgrey;
    transition: all 0.5s ease;
}