.user-card {
    padding: 1.25rem;
    margin-bottom: 10px;
    border-left: 0.25rem solid rgba(0, 10, 0, 1);
    background-color: rgba(var(--bs-dark-rgb), .075);
    border-radius: var(--app-border-radius);
    border-left: var(--app-ribbon-width) solid black !important;
}

.active {
    border-left: var(--app-ribbon-width) solid var(--app-green) !important;
}

.user-card a.username {
    text-decoration: none;
    color: black;
    font-size: 20px;
}

.header {
    display: flex;
    align-items: center;
    gap: 10px;
}

.person-icon,
.key-icon {
    font-size: 20px;
}
