@inject IUsersService usersService
@using Ethachat.Client.Services.HubServices.HubServices.Implementations.UsersService
@using EthachatShared.Models.ConnectedUsersManaging
@inherits Ethachat.Client.UI.CommonComponents.BaseComponents.BaseEventListeningComponent

<div style="cursor: pointer; @Style" @onclick="()=>OnClickCallback()">
    <div class="user-card @(IsOnline ? "active" : "")">
        <div class="header">
            <div class="profile-picture">
                <i class="bi bi-person-fill person-icon"></i>
            </div>
            <div class="contact-info">
                <a href="/@Username" class="username">@Username</a>
            </div>
            @if (IsKeyReady)
            {
                <div class="key-info">
                    <i class="bi bi-key-fill key-icon" data-bs-toggle="tooltip" title="AES key for secure communication"></i>
                </div>
            }
        </div>
    </div>
</div>

@code {
    [Parameter]
    public string Username { get; set; }

    [Parameter]
    public Action OnClickCallback { get; set; }

    [Parameter]
    public string Style { get; set; } = string.Empty;

    [Parameter]
    public bool IsKeyReady { get; set; } = false;
    
    private UserConnectionsReport UsersOnlineMessage { get; set; } = new();

    private bool IsOnline => UsersOnlineMessage.UserConnections.FirstOrDefault(x => x.Username == Username)?.ConnectionIds.Any() ?? false;

    protected override async Task OnInitializedAsync()
    {
        await usersService.ActualizeConnectedUsersAsync();
        await base.OnInitializedAsync();
    }

    protected override void SubscribeToHubEvents()
    {
        HubServiceSubscriptionManager.AddCallback<UserConnectionsReport>(UpdateUsersList, "ReceiveOnlineUsers", ComponentId);
        base.SubscribeToHubEvents();
    }
    

    private void UpdateUsersList(UserConnectionsReport usersOnlineMessage)
    {
        if (UsersOnlineMessage.FormedAt < usersOnlineMessage.FormedAt)
        {
            UsersOnlineMessage = usersOnlineMessage;
            StateHasChanged();
        }
    }
}
