<div style="cursor: pointer; @Style" @onclick="()=>OnClickCallback()">
    <div class="user-card @(IsOnline ? "online" : "")">
        <div class="header">
            <div class="profile-picture">
                <i class="bi bi-person-fill person-icon"></i>
            </div>
            <div class="contact-info">
                <a href="/user/@Username" class="username">@Username</a>
            </div>
            @if (IsKeyReady)
            {
                <div class="key-info">
                    <i class="bi bi-key-fill key-icon" data-bs-toggle="tooltip" title="AES key for secure communication"></i>
                </div>
            }
        </div>
    </div>
</div>

@code {
    [Parameter]
    public string Username { get; set; }

    [Parameter]
    public bool IsOnline { get; set; }

    [Parameter]
    public Action OnClickCallback { get; set; }

    [Parameter]
    public string Style { get; set; } = string.Empty;

    [Parameter]
    public bool IsKeyReady { get; set; } = false;
}
